# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logging
/logs/*
!/logs/.gitkeep
*.log
*.log.*

# Environments
.env
.venv
env/
venv/
venv_win/
ENV/
env.bak/
venv.bak/

# User generated output
/output/*
!/output/.gitkeep

# External data the app needs to use
/data/*
!/data/.gitkeep
